body{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #3a7f0d;
}  
    
/*Inicio header*/
header {
    background-color: #333;
    color: #fff;
    padding: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Minha logo*/
.logo img {
    max-width: 100%; /* Ajuste o tamanho conforme o seu logotipo */
    max-height: 100%;
}

/*Menu*/
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
    padding: 20px;
    font-size: 25px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover {
    color: #f3f3f3;
    border-top: 2px solid white;
}

.menu-btn {
    display: none;
}

.menu-btn button {
    background: none;
    border: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}
/*Fim do header*/


/*Inicio do section*/
section {
    margin-top: 50px;
}

section a{
    font-size: 19px;
    color: black;
}

.logo-whats{
    width: 37px;
    height: 37px;
}

.whatsapp-icon {
    position: fixed;
    /*bottom: 200px;  Posição vertical a partir do fundo */
    top: 320px;
    right: 0; /* Posição horizontal a partir da direita */
    z-index: 9999; /* Garante que fique acima de outros elementos se houverem */
}

.whatsapp-icon:hover{
    padding-right: 5px;
}

.logo-insta{
    width: 37px;
    height: 37px;
}

.instagram-icon {
    position: fixed;
    /*bottom: 200px;  Posição vertical a partir do fundo */
    top: 280px;
    right: 0; /* Posição horizontal a partir da direita */
    z-index: 9999; /* Garante que fique acima de outros elementos se houverem */
}

  .instagram-icon:hover{
    padding-right: 5px;
}

div .img1{
    height: 350px;
    width: 300px;
    max-width: 100%;
}
div .img2{
    height: 350px;
    width: 300px;
    max-width: 100%;
}
/*Fim do section*/


/*Inicio footer*/
footer{
    background-color:#333;
    color: white;
    margin-top: 100px;
    text-align: center;
    max-width: 100%;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contato{
   margin-bottom: 100px; 
   color: yellow;
   text-decoration: none;
}

.footer-fim{
    padding: 20px;
    margin-top: 30px;
}
/*Fim do footer*/